
body {
	background: #303A5F;
}

a:hover {
	text-decoration: none;
}
.list-group-item{
	background-color: #303A5F;
	border: 0px;
}
.buscar{
	font-size: 17px;
	width: 500px;
	height: 50px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	background: #50597b;
	color: #fff;
	border: solid 1px #1f253d;
	border-radius: 5px;
}
#fe{
	color: #ffffff;
}
label{
	color: #000000;
}
td{
	color: #00AF7C;
}
.password{
	width: 260px;
	height: 50px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	background: #50597b;
	color: #fff;
	border: solid 1px #1f253d;
	border-radius: 5px;
}
input[type=text] input[type=password]::-webkit-input-placeholder {
	color: #fff;
}
input[type=text]:focus {
	outline: none;
	border: 1px solid #11a8ab;
}
.titulo {
	line-height: 60px;
	text-align: center;
}
